PlatformerGame/.vs
PlatformerGame/Library
PlatformerGame/Logs
PlatformerGame/obj
PlatformerGame/Temp
PlatformerGame/UserSettings
PlatformerGame/.vscode
PlatformerGame/Assembly-CSharp.csproj
PlatformerGame/PotionGame.sln
PlatformerGame/Build
PlatformerGame/.vsconfig